.qplum-score {
	/*color : #9a5c79;*/
	color: #0088cc;
	display: block;
  	padding: 5px;
	font-size: 0.929em;
  	line-height: 16px;
}

.qplum-score:hover {
	/*color : #7d4861;*/
	color: #0088cc;
}

.qplum-score:active {
	color: #0088cc;
}

.badges-listing th {
	text-align: left;
}

.logo-text {
	font-family: 'Quicksand', sans-serif;
	font-size: 42px;
 	line-height: 35px;
}
.qp-purple {
	color: #9a5c79;
}
.qp-green {
	color: #07c1a7;
}
#account-buttons {
	padding: 18px 0 18px 0;
}

.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}